{% load static %}

{# Cargar los scripts con defer #}
<script src="{% static 'js/toggle-fields.js' %}" defer></script>
<script src="{% static 'js/confirm-button.js' %}" defer></script>
<script src="{% static 'js/copy-clipboard.js' %}" defer></script>
<script src="{% static 'js/fade-in.js' %}" defer></script>
<script src="{% static 'js/alerts-collapse.js' %}" defer></script>

{# Script para el menú móvil #}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    if (mobileMenuButton) {
      mobileMenuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
      });
    }
  });
</script>