# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.mo
local_settings.py

# Media & Static
media/
staticfiles/
static_root/
media_root/

# Environment
.env

# Virtualenvs
venv/
.venv/
ENV/
env/

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Docker
*.pid
docker-compose.override.yml
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Compiled Bytecode
*.pyc
*.pyo


# VSCode settings (opcional)
.vscode/settings.json
.vscode/launch.json
.vscode/tasks.json

# Ruff
.ruff_cache/

# .JSON files with sensitive information
fixtures/

# Django Tailwind
# Carpeta que contiene el binario descargado del CLI de Tailwind.
.tailwindcss/
# Carpeta que contiene los archivos para compilar los estilos en CSS. Modo de desarrollo.
ssn/apps/theme/static/css/dist/styles.css
