{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  {% block extra_info %}
    {% include "partials/_extra_info.html" %}
  {% endblock %}

  <div class="max-w-3xl mx-auto">
    {# ======== BLOQUE DE BREADCRUMBS ======== #}
    {% if breadcrumb_items %}
      <nav class="mb-4 text-sm text-gray-600" aria-label="Breadcrumb">
        <ol class="flex flex-wrap items-center space-x-2">
          {% for label,url in breadcrumb_items %}
            <li class="flex items-center">
              {% if url %}
                <a href="{{ url }}" class="hover:underline">{{ label }}</a>
              {% else %}
                <span class="text-gray-500">{{ label }}</span>
              {% endif %}
              {% if not forloop.last %}<span class="mx-2">/</span>{% endif %}
            </li>
          {% endfor %}
        </ol>
      </nav>
    {% endif %}
    {# ======== FIN DE BREADCRUMBS ======== #}
    {% include "componentes/card.html" with title=title header_buttons=header_buttons %}

    {% block card_content %}
      {% if operations %}
        <div class="bg-white/70 border border-gray-200 rounded-lg shadow-sm p-6">
          {% include "lists/partials/_table.html" %}
        </div>
        {% include "lists/partials/_pagination.html" %}
      {% else %}
        <div class="flex flex-col items-center justify-center py-12 text-center">
          <i class="fas fa-file-alt text-gray-300 text-5xl mb-4"></i>
          <p class="text-gray-500 mb-4">No se han registrado operaciones.</p>
          <p class="text-gray-500 my-4">Para empezar, crea una nueva operación.</p>
          {% url 'operaciones:seleccion_tipo_operacion' uuid=base_request.uuid as create_url %}
          {% include "componentes/link_button.html" with href=create_url label="Crear nueva operación" icon="fas fa-plus" color="primary" %}
          {% if base_request.tipo_entrega == "Semanal" %}
          <p class="text-gray-500 my-4">Si no hubo movimientos, podés enviar la solicitud sin operaciones.</p>
            {% url 'operaciones:enviar_operaciones' uuid=base_request.uuid as empty_url %}
            {% include "componentes/link_button.html" with href=empty_url|add:'?empty=1' id="sendEmptyBtn" label="Enviar solicitud sin operaciones" icon="fas fa-paper-plane" color="danger" %}
          {% endif %}
          </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock %}

{% block extra_js %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    initConfirmButton(
      "#sendEmptyBtn",
      "¿Estás seguro de enviar la solicitud vacía?"
    );
  });
</script>
{% endblock %}


